/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.templates-wrapper .template {
	margin-bottom: 50px;
}

.templates-wrapper .template h1 {
	text-align: center;
	display: block;
	text-transform: uppercase;
}

.templates-wrapper .template img {
	width: 80%;
	display: table;
	margin: auto;
}

.templates-wrapper .template .price {
	display: table;
	margin: auto;	
	padding-top: 20px;
	padding-bottom: 10px;
}

.templates-wrapper .template .btn {
	width: 50%;
	display: table;
	margin: auto;
}
