<div class="container">

	<div class="row">
		<div class="templates-wrapper">
			
			<div class="col-md-4">
				<div class="template">
					<h1>Red Theme</h1>
					<img src="assets/images/red.jpg" class="img-responsive">
					<h3 class="price"><b>$19.99</b></h3>
					<a href="#"><button class="btn btn-primary btn-block">Buy Now</button></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="template">
					<h1>Blue Theme</h1>
					<img src="assets/images/blue.jpg" class="img-responsive">
					<h3 class="price"><b>$19.99</b></h3>
					<a href="#"><button class="btn btn-primary btn-block">Buy Now</button></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="template">
					<h1>Pink Theme</h1>
					<img src="assets/images/pink.jpg" class="img-responsive">
					<h3 class="price"><b>$19.99</b></h3>
					<a href="#"><button class="btn btn-primary btn-block">Buy Now</button></a>
				</div>
			</div>


			<div class="col-md-4">
				<div class="template">
					<h1>Green Theme</h1>
					<img src="assets/images/green.jpg" class="img-responsive">
					<h3 class="price"><b>$19.99</b></h3>
					<a href="#"><button class="btn btn-primary btn-block">Buy Now</button></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="template">
					<h1>Orange Theme</h1>
					<img src="assets/images/orange.jpg" class="img-responsive">
					<h3 class="price"><b>$19.99</b></h3>
					<a href="#"><button class="btn btn-primary btn-block">Buy Now</button></a>
				</div>
			</div>

			<div class="col-md-4">
				<div class="template">
					<h1>Maroon Theme</h1>
					<img src="assets/images/maroon.jpg" class="img-responsive">
					<h3 class="price"><b>$19.99</b></h3>
					<a href="#"><button class="btn btn-primary btn-block">Buy Now</button></a>
				</div>
			</div>

		</div>
	</div>
</div>